{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/codemirror.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/monokai.css" %}">
    <script src="{% static "lib/jquery-1.9.0.min.js" %}"></script>
    <script src="{% static "lib/jquery.djangocsrf.js" %}" type="text/javascript"></script>
    <script src="{% static "lib/jquery.cookie.js" %}" type="text/javascript"></script>
    <script src="{% static "lib/codemirror.js" %}" type="text/javascript"></script>
    <script src="{% static "lib/python.js" %}" type="text/javascript"></script>
    <script src="{% static "lib/skulpt.min.js" %}" type="text/javascript"></script>
{% endblock head %}
{% block body %}
    <div id="title-container">
        <div id="menu-container">
            <div># PySchool</div>
            {% if logged_in %}
            <a href="logout" class="menu-option">Logout</a>
            <div class="menu-text">{{ request.user }}</div>
            <div class="spacer"></div>
            <a href="#" id="ch-button" class="menu-option">Challenges</a>
            {% else %}
            <a href="#" id="register-button" class="menu-option">Register</a>
            <a href="#" id="login-button" class="menu-option">Login</a>
            {% endif %}
            <div class="spacer"></div>
            <a href="#" id="clear-output" class="menu-option">Clear Output</a>
            <a href="#" id="run-code" class="menu-option">Run Code</a>
        </div>
        {% if not logged_in %}
        <div id="login-container">
            <p>
                log in<br>
                register
            </p>
            <form id="login-form" action="javascript:;" onsubmit="handleAccount(this)">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <div id="reg-div">
                    <input type="password" placeholder="confirm password" id="confirm-pass">
                </div>
                <input type="submit">
            </form>
        </div>
        {% endif %}
        {% if set %}
            <div id="challenges">
                <p>{{ set.0 }}</p>
                {% for module in set.1 %}
                    <a href="#" class="menu-option" 
                       style="background: {% cycle 'inherit' 'rgba(0, 0, 0, .3)' %}"
                       onclick="selectChallenge(this, '{{ module.name }}', '{{ module.description }}')">{{ module }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div id="output-grad"></div>
    <div id="output-container" class="text">
        <div id="output-box"></div>
    </div>
    <div id="input-container" class="text text-mini">
        <div id="input-toggle">|||||</div>
        <div id="challenge-detail">
            <p id="ch-title"></p>
            <p id="ch-desc"></p>
            <a href="#" id="challenge-submit">Submit</a>
        </div>
        <textarea id="cm-ta">print 'Hello world!'</textarea>
    </div>
    <div id='footer'>Made with <a href="http://www.skulpt.org">Skulpt</a> and <a href="http://www.codemirror.net">CodeMirror</a>. Released under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>. (c) 2016 Adam Johnston</div>
    <script type="text/javascript">
        window.user = "{{ request.user }}";
    </script>
    <script src="{% static "js/main.js" %}" type="text/javascript"></script>
{% endblock body %}
