html, body {
    margin: 0;
    font-family: Lucida Console, Monaco, monospace;
    overflow: hidden;
    background: #272822;
    color: #66d9ef;
}

a {
    text-decoration: none;
    color: #66d9ef;
}

a:hover {
    text-decoration: underline;
    color: #EEE !important;
}

#title-container {
    width: inherit;
    height: 1.8em;
    background: #272822;
    color: #66d9ef;
    z-index: 100;
    overflow: visible;
}

#login-container {
    background: inherit;
    position: absolute;
    color: #75715e;
    top: 3em;
    right: 1em;
    height: 0;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
    transition: height .3s, opacity .3s;
}

#login-container * {
    display: inline-block;
    margin: .3em; 0;
}

#login-container p {
    position: relative;
    top: 0;
    padding: .1em;
    margin: .3em;
    margin-left: .8em;
    line-height: 2em;
    transition: top .3s;
}

.login-alt-text {
    top: -2.1em !important;
}

#login-container form {
    float: right;
    padding: 0;
    margin-left: 0em;
}

#login-container form * {
    float: left;
    display: inline-block;
    padding: .3em;
    margin: .3em;
}

#login-container #reg-div {
    padding: 0;
    margin: 0;
    width: 0;
    height: 3em;
    opacity: 0;
    overflow: hidden;
    transition: width .3s, opacity .3s;
}

.reg-div-big {
    width: 10.6em !important;
    opacity: 1 !important;
}

#login-container input {
    border-radius: .5em;
    background: white;
}

.big-title {
    height: 2.8em !important;
    opacity: 1 !important;
    box-shadow: 0 0 2em #111;
}

#challenges {
    background: inherit;
    position: absolute;
    top: 3em;
    right: 1em;
    height: 0em;
    width: 17.3em;
    opacity: 0;
    z-index: 2;
    transition: all .3s;
}

#title-container .open-challenges {
    height: 10em;
    opacity: 1;
}

#challenges p {
    margin: 0;
    padding: .5em;
    color: #75715e;
}

#challenges a {
    padding: .5em;
    display: block;
}

#challenges .done {
    display: inline;
    float: right;
    padding: 0;
    text-shadow: none;
}

#challenges .selected {
    text-shadow: white 0 0 1em;
    color: greenyellow;
}

#menu-container {
    width: 100%;
    height: 1.8em;
    overflow: hidden;
}

#output-grad {
    width: 100%;
    height: 3em;
    position: relative;
    margin-bottom: -3em;
    background: linear-gradient(#111, rgba(0, 0, 0, 0));
    z-index: 1;
}

#menu-container a, #menu-container div {
    padding: .4em 1em;
    display: inline-block;
    height: inherit;
}

#menu-container .menu-option {
    float: right;
    color: #f92672;
}

#menu-container .menu-text {
    float: right;
    color: #75715e;
}

#menu-container .spacer {
    float: right;
    width: 0vw;
    padding: .2em;
    height: inherit;
    background: rgba(255, 255, 255, .1);
}

.menu-option:hover {
    color: #FFF;
    background: rgba(255, 255, 255, .2) !important;
}

#output-container {
    width: inherit;
    position: relative;

    color: #EEE;
    background: #111;

    transition: height .3s;
    overflow: hidden;
}

.text {
    height: 67vh;
}

.text-mini {
    height: 30vh;
}

#output-box {
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;

    white-space: pre;
    padding: 1em;
    padding-bottom: 2em;
}

#input-container {
    position: relative;
    padding: 0;
    margin: 0; 
    transition: height .3s;
}

#input-toggle {
    position:absolute;
    left: 1em;
    top: -1.7em;
    height: 1.5em;
    padding: .1em 1em;
    background: #272822;
    color: #f92672;
    z-index: 101;
}

#challenge-detail {
    width: inherit%;
    height: 0;
    transition: all .3s;
    overflow: hidden;
}

#challenge-detail p {
    margin: 0;
    padding: .5em;
}

#challenge-submit {
    position:absolute;
    right: 1em;
    top: 1em;
    padding: .5em;
    background: rgba(255, 255, 255, .1);
}

#input-container .detail-view {
    height: 5em;
    border-bottom: solid #1B1C18;
}

#input-toggle:hover {
    color: #FFF;
}

.CodeMirror {
    height: inherit;
    width: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .9em;
    color: #75715e;
    z-index: 100;
}
